<div id="accounts">
	<div id="content">
		<div class="content-section section-1" class="fullwidth">
			<div class="fixedwidth">
				<span class="title">
					Login
				</span>
			</div>
		</div>
		<%= render 'layouts/flash' %>
		<div class="content-section section-2" class="fullwidth">
			<div class="fixedwidth">
				<% if current_user %>
						Currently logged in as <%= current_user.username %>.
						Please logout before logging in as a different user.
				<% else %>
					<%= form_for @account, :role=>'form', :as=>:user, :url=>login_accounts_path(@account) do |f| %>
							<%= f.text_field :username %>
							<%= f.label 'Username' %>
							<%= f.password_field :password %>
							<%= f.label 'Password' %>
							<%= f.submit 'Login' %>
					<% end %>
				<% end %>
			</div>
		</div>
		<div id="footer" class="fullwidth">
			<div class="fixedwidth">
				&copy; UPCSI4 Ateneo Hacks 2015
			</div>
		</div>
	</div>
</div>