<h1>Login</h1>

<% if current_user %>
		Currently logged in as <%= current_user.username %>.
		Please logout before logging in as a different user.
<% else %>
	<%= form_for @account, :role=>'form', :as=>:user, :url=>login_accounts_path(@account) do |f| %>
			<%= f.label 'Username' %>
			<%= f.text_field :username %>
			<%= f.label 'Password' %>
			<%= f.password_field :password %>
			<%= f.submit 'Login' %>
	<% end %>
	<%= link_to 'Back', root_path%>
<% end %>