<div id="applicants">
	<div id="content">
		<div class="content-section section-1" class="fullwidth">
			<div class="fixedwidth">
				<span class="title">
					Scholarships Granted
				</span>
			</div>
		</div>
		<div class="content-section section-2" class="fullwidth">
			<div class="fixedwidth">
				<table class="scholarships">
					<tr>
						<th class="number">No.</th>
						<th class="scholarship">Scholarship Title</th>
						<th class="sponsor">Sponsor</th>
					</tr>

					<% @scholarships_grants.each_with_index do |x, index| %>
					<% if x!= nil %>
						<tr>
							<td class="number"><%= index+1 %></td>
							<td class="scholarships"><%= link_to x.title,
								view_scholarships_path(:id=>x.id), method: :get %></td>
							<td class="sponsor"><%= @sponsors_grant[index].institution_name %></td>
						</tr>
					<% end %>
					<% end %>
				</table>
			</div>
		</div>
		<div class="content-section section-1" class="fullwidth">
			<div class="fixedwidth">
				<span class="title">
					Pending Scholarships
				</span>
			</div>
		</div>
		<div class="content-section section-2" class="fullwidth">
			<div class="fixedwidth">
				<table class="scholarships">
					<tr>
						<th class="number">No.</th>
						<th class="scholarship">Scholarship Title</th>
						<th class="sponsor">Sponsor</th>
					</tr>

					<% @scholarships_applied.each_with_index do |x, index| %>
					<% if x != nil && @sponsors_applied[index] != nil %>
						<tr>
							<td class="number"><%= index+1 %></td>
							<td class="scholarships"><%= link_to x.title,
								view_scholarships_path(:id=>x.id), method: :get %></td>
							<td class="sponsor"><%= @sponsors_applied[index].institution_name %></td>
						</tr>
					<% end %>
					<% end %>
				</table>
			</div>
		</div>
		<div class="content-section section-1" class="fullwidth">
			<div class="fixedwidth">
				<span class="title">
					Scholarships Available
				</span>
			</div>
		</div>
		<div class="content-section section-2" class="fullwidth">
			<div class="fixedwidth">
				<table class="scholarships">
					<tr>
						<th class="number">No.</th>
						<th class="scholarship">Scholarship Title</th>
						<th class="sponsor">Sponsor</th>
					</tr>

					<% @scholarships.each_with_index do |x, index| %>
					<% if @sponsors[index] != nil %>
						<tr>
							<td class="number"><%= index+1 %></td>
							<td class="scholarships"><%= link_to x.title,
								view_scholarships_path(:id=>x.id), method: :get %></td>
							<td class="sponsor"><%= @sponsors[index].institution_name %></td>
						</tr>
					<% end %>
					<% end %>
				</table>
			</div>
		</div>
		<div id="footer" class="fullwidth">
			<div class="fixedwidth">
				&copy; UPCSI4 Ateneo Hacks 2015
			</div>
		</div>
	</div>
</div>
