<div id="applicants">
	<div id="header" class="fullwidth">
		<div class="fixedwidth">
			<span id="header-logo" class="left">
				eskolarship
			</span>
			<span id="nav-list" class="right">
				<%= link_to 'Home', root_path,
					method: :get, class: "nav-item left" %>
				<%= link_to 'Login', login_accounts_path,
					method: :get, class: "nav-item left" %>
				<%= link_to 'Be A Sponsor', new_sponsor_path(:tag=>1),
					method: :get, class: "nav-item left" %>
			</span>
		</div>
	</div>
	<div id="content">
		<div class="content-section section-1" class="fullwidth">
			<div class="fixedwidth">
				<span class="title">
					Applicant Sign Up
				</span>
			</div>
		</div>
		<div class="content-section section-2" class="fullwidth">
			<div class="fixedwidth">
				<%= form_tag :role=>'form', :action=>'create' do %>
					<%= hidden_field :accounts, :tag, :value=>@tag %>
					<%= text_field :accounts, :username, :value=>@username, placeholder:@unameholder %>
					<%= label :accounts, 'Username' %>
					<%= text_field :accounts, :email, :value=>@email, placeholder:@emailholder %>
					<%= label :accounts, 'Email' %>
					<%= password_field :accounts, :password, placeholder:'********' %>
					<%= label :accounts, 'Password' %>
					<%= password_field :accounts, :password_confirmation, placeholder:'********' %>
					<%= label :accounts, 'Confirm Password' %>
					<%= button_tag 'Create Account', :type=>'submit' %>
				<% end %>
			</div>
		</div>
		<div id="footer" class="fullwidth">
			<div class="fixedwidth">
				&copy; UPCSI4 Ateneo Hacks 2015
			</div>
		</div>
	</div>
</div>