<div style="padding-top: 100px">
	<h1>Profile</h1>

	<h1>Username: <%= current_user.username%> </h1>
	<h1>Email add: <%= current_user.email%> </h1>
	<h1>Name: <%= @user.name %> </h1>
	<h1>Gender: <%= @user.gender %> </h1>
	<h1>Address: <%= @address %> </h1>
	<h1>Contact Number: <%= @user.contact_num %> </h1>
	<h1>Institution: <%= @user.institution %> </h1>
	<h1>Age: <%= @user.age %> </h1>
	<h1>Level: <%= @user.level %> </h1>
	<h1>Degree Program: <%= @user.degree_program %> </h1>
	<h1>Created at: <%= @current_user.created_at %></h1>

	<%= link_to 'Delete', delete_accounts_path, method: :delete %>
	

</div>
