<div id="sponsors">
	<div id="content">
		<div class="content-section section-1" class="fullwidth">
			<div class="fixedwidth">
				<span class="title">
					Sponsor Sign Up
				</span>
			</div>
		</div>
		<div class="content-section section-2" class="fullwidth">
			<div class="fixedwidth">
				<%= form_tag :role=>'form', :action=>'create' do %>
					<%= hidden_field :accounts, :tag, :value=>@tag %>
						<%= text_field :accounts, :username, :value=>@username, placeholder:@unameholder %>
						<%= label :accounts, 'Username' %>
						<%= text_field :accounts, :email, :value=>@email, placeholder:@emailholder %>
						<%= label :accounts, 'Email' %>
						<%= password_field :accounts, :password, placeholder:'********' %>
						<%= label :accounts, 'Password' %>
						<%= password_field :accounts, :password_confirmation, placeholder:'********' %>
						<%= label :accounts, 'Confirm Password' %>

						<!--
						+------------------+--------------+------+-----+---------+----------------+
						| Field            | Type         | Null | Key | Default | Extra          |
						+------------------+--------------+------+-----+---------+----------------+
						| id               | int(11)      | NO   | PRI | NULL    | auto_increment |
						| institution_name | varchar(255) | YES  |     | NULL    |                |
						| add_id           | varchar(255) | YES  |     | NULL    |                |
						| contact_num      | int(11)      | YES  |     | NULL    |                |
						+------------------+--------------+------+-----+---------+----------------+
						-->

						<!-- add forms specific for sponsors -->
						<%= text_field :sponsor, :institution_name%>
						<%= label :sponsor, 'Institution Name' %>


						<!--
						mysql> describe addresses;
						+--------------+--------------+------+-----+---------+----------------+
						| Field        | Type         | Null | Key | Default | Extra          |
						+--------------+--------------+------+-----+---------+----------------+
						| id           | int(11)      | NO   | PRI | NULL    | auto_increment |
						| region       | varchar(255) | YES  |     | NULL    |                |
						| province     | varchar(255) | YES  |     | NULL    |                |
						| municipality | varchar(255) | YES  |     | NULL    |                |
						| street       | varchar(255) | YES  |     | NULL    |                |
						| block        | varchar(255) | YES  |     | NULL    |                |
						+--------------+--------------+------+-----+---------+----------------+

						-->

						<!-- fields for address -->
						<%= text_field :address, :region%>
						<%= label :address, 'Region' %>

						<%= text_field :address, :province%>
						<%= label :address, 'Province' %>

						<%= text_field :address, :municipality%>
						<%= label :address, 'Municipality' %>

						<%= text_field :address, :street%>
						<%= label :address, 'Street' %>

						<%= text_field :address, :block%>
						<%= label :address, 'Block' %>

						<!-- fields for address -->

						<%= text_field :sponsor, :contact_num%>
						<%= label :sponsor, 'Contact Number' %>

						<!-- add forms specific for sponsors -->

						<%= button_tag 'Create Account', :type=>'submit' %>

				<% end %>
			</div>
		</div>
		<div id="footer" class="fullwidth">
			<div class="fixedwidth">
				&copy; UPCSI4 Ateneo Hacks 2015
			</div>
		</div>
	</div>
</div>