<div id="sponsors">
	<div id="header" class="fullwidth">
		<div class="fixedwidth">
			<span id="header-logo" class="left">
				eskolarship
			</span>
			<span id="nav-list" class="right">
				<%= link_to 'Home', root_path,
					method: :get, class: "nav-item left" %>
				<%= link_to 'Login', login_accounts_path,
					method: :get, class: "nav-item left" %>
				<%= link_to 'Sign Up', new_applicant_path(:tag=>0),
					method: :get, class: "nav-item left" %>
			</span>
		</div>
	</div>
	<div id="content">
		<div class="content-section section-1" class="fullwidth">
			<div class="fixedwidth">
				<span class="title">
					Sponsor Sign Up
				</span>
			</div>
		</div>
		<div class="content-section section-2" class="fullwidth">
			<div class="fixedwidth">
				<%= form_tag :role=>'form', :action=>'create' do %>
					<%= hidden_field :accounts, :tag, :value=>@tag %>
						<%= text_field :accounts, :username, :value=>@username, placeholder:@unameholder %>
						<%= label :accounts, 'Username' %>
						<%= text_field :accounts, :email, :value=>@email, placeholder:@emailholder %>
						<%= label :accounts, 'Email' %>
						<%= password_field :accounts, :password, placeholder:'********' %>
						<%= label :accounts, 'Password' %>
						<%= password_field :accounts, :password_confirmation, placeholder:'********' %>
						<%= label :accounts, 'Confirm Password' %>

						<!--
						+------------------+--------------+------+-----+---------+----------------+
						| Field            | Type         | Null | Key | Default | Extra          |
						+------------------+--------------+------+-----+---------+----------------+
						| id               | int(11)      | NO   | PRI | NULL    | auto_increment |
						| institution_name | varchar(255) | YES  |     | NULL    |                |
						| add_id           | varchar(255) | YES  |     | NULL    |                |
						| contact_num      | int(11)      | YES  |     | NULL    |                |
						+------------------+--------------+------+-----+---------+----------------+
						-->

						<!-- add forms specific for sponsors -->
						<%= text_field :sponsors, :institution_name%>
						<%= label :sponsors, 'Institution Name' %>


						<!--
						mysql> describe addresses;
						+--------------+--------------+------+-----+---------+----------------+
						| Field        | Type         | Null | Key | Default | Extra          |
						+--------------+--------------+------+-----+---------+----------------+
						| id           | int(11)      | NO   | PRI | NULL    | auto_increment |
						| region       | varchar(255) | YES  |     | NULL    |                |
						| province     | varchar(255) | YES  |     | NULL    |                |
						| municipality | varchar(255) | YES  |     | NULL    |                |
						| street       | varchar(255) | YES  |     | NULL    |                |
						| block        | varchar(255) | YES  |     | NULL    |                |
						+--------------+--------------+------+-----+---------+----------------+
 
						-->

						<!-- fields for address -->
						<%= text_field :addresses, :region%>
						<%= label :addresses, 'Region' %>
						
						<%= text_field :addresses, :province%>
						<%= label :addresses, 'Province' %>
						
						<%= text_field :addresses, :municipality%>
						<%= label :addresses, 'Municipality' %>

						<%= text_field :addresses, :street%>
						<%= label :addresses, 'Street' %>
						
						<%= text_field :addresses, :province%>
						<%= label :addresses, 'Block' %>
						
						<!-- fields for address -->
						
						<%= text_field :sponsors, :contact_num%>
						<%= label :sponsors, 'Contact Number' %>
						
						<!-- add forms specific for sponsors -->

						<%= button_tag 'Create Account', :type=>'submit' %>

				<% end %>
			</div>
		</div>
		<div id="footer" class="fullwidth">
			<div class="fixedwidth">
				&copy; UPCSI4 Ateneo Hacks 2015
			</div>
		</div>
	</div>
</div>