<div id="sponsors-profile">
	<div id="content">
		<div class="content-section section-1" class="fullwidth">
			<div class="fixedwidth">
				<span class="title">
					Profile
				</span>
			</div>
		</div>
		<div class="content-section section-2" class="fullwidth">
			<div class="fixedwidth">
				<table class="profile">
					<tr class="row">
						<td class="label">Username</td>
						<td class="data"><%= current_user.username %></td>
					</tr>
					<tr class="row">
						<td class="label">Email</td>
						<td class="data"><%= current_user.email %></td>
					</tr>
					<tr class="row">
						<td class="label">Institution</td>
						<td class="data"><%= @user.institution_name %></td>
					</tr>
					<tr class="row">
						<td class="label">Address</td>
						<td class="data"><%= @address %></td>
					</tr>
					<tr class="row">
						<td class="label">Contact Number</td>
						<td class="data"><%= @user.contact_num %></td>
					</tr>
					<tr class="row">
						<td class="label">Date Created</td>
						<td class="data"><%= @current_user.created_at %></td>
					</tr>
				</table>
				<%= link_to 'Delete', delete_accounts_path, method: :delete %>
			</div>
		</div>
		<div id="footer" class="fullwidth">
			<div class="fixedwidth">
				&copy; UPCSI4 Ateneo Hacks 2015
			</div>
		</div>
	</div>
</div>